body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

#wrapper {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding: 30px;
    transition: all 700ms;
    padding-bottom: 25px;
}
.main-card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    padding: 30px;
}
#page-header {
    margin-bottom: 5px;
    position: relative;
}
.left-0 {
    left: 0;
}

.gradient-text {
    background: linear-gradient(45deg, #058fff, #00ffd2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.metropolis-medium {
    font-family: Metropolis;
    font-weight: 500;
}
h1 {
    margin: 0;
}
.spec-device-img {
    height: auto;
    height: 340px;
    padding-bottom: 30px;
}
.nav-btn {
    transition: all 700ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.icon {
    height: 2.8em;
    margin-right: 1em;
    float: top;
}
.spec-col {
    padding: 0.9em;
    display: flex;
    align-items: center;
  justify-content: center;
   
    flex: 1 50%;
    max-width: 275px;
  border: 3px solid rgb(0, 0, 0, 0.04);
 
    border-radius: 30px;
    padding: 30px;
  margin-bottom: 5px;
  margin-right:1%;
  
}

.spec-text {
    float: left;
}
.nav-btn {border-radius: 45px;}
.btn {border-radius: 45px;}
