@font-face {
    font-family: urbanist;
    src: url("/fonts/Urbanist-Regular.woff"),
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:urbanist;
    src: url("/fonts/Urbanist-SemiBold.woff");
    font-weight: 500;
}

@font-face {
    font-family: urbanist;
    src: url("/fonts/Urbanist-Bold.woff");
    font-weight: 600;
}

@font-face {
    font-family: urbanist;
    src: url("/fonts/Urbanist-ExtraBold.woff");
    font-weight: 700;
}

@font-face {
    font-family: urbanist-black;
    src: url("/fonts/Urbanist-Black.woff");
}
html {
    
}

body {
    margin: 0;
    font-family: urbanist;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    background: #282d2d;
    backdrop-filter: blur(8px); // This be the blur
    color: #c9d1d8;
}
#wrapper {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding: 30px;
    transition: all 700ms;
    padding-bottom: 25px;
  
}
.nav-btn {border-radius: 45px;}
.btn {border-radius: 45px;}

.main-card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    padding: 30px;
    background: #333838;
    border-color: linear-gradient(#73fac8, #00bee1);
}
#page-header {
    margin-bottom: 5px;
    position: relative;
}
.left-0 {
    left: 0;
}

.gradient-text {
    background: linear-gradient(45deg, #058fff, #00ffd2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.metropolis-medium {
    font-family: urbanist;
    font-weight: 500;
    color: #fff;
}
h1 {
    margin: 0;
}
#downimg{
text-align: center;
}
    
img {
    height: auto;
    height: 340px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  img {
    width: auto;
    height: 270px;
  }
}
.nav-btn {
    transition: all 700ms;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@media only screen and (max-width: 1000px) {
  .nav-btn {
    opacity: 0;
    pointer-events: none;
    cursor: default;
  }
}    
.icon {
    height: 2.8em;
    margin-right: 1em;
    float: top;
}
.spec-col {
    padding: 0.9em;
    display: flex;
    align-items: center;
  justify-content: center;
    white-space: nowrap;
    flex: 1 50%;
    max-width: 275px;
  border: 3px solid rgb(0, 0, 0, 0.04);
 border-radius: 30px;
    padding: 30px;
  margin-bottom: 5px;
  margin-right:1%;
  
}

@media only screen and (max-width: 760px) {
  .spec-col {
     max-width: 500px;
}   
    
 @media only screen and (max-width: 500px) {
  .spec-col {
     max-width: 190px;
}    
.spec-text {
    float: left;
}
